<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common-head :: common-head}"></head>
<body>
<div th:replace="~{fragments/common-header :: common-header}"></div>
<main role="main">
    <div class="container" style="margin-top: 20px;">
        <div th:replace="~{fragments/common-messages :: common-messages}"></div>

        <div class="row">
            <div class="col-md-12">
                <div th:replace="~{fragments/common-jumbotron :: common-jumbotron}"></div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}" async></script>
<script th:src="@{/webjars/font-awesome/6.5.1/js/all.js}" async></script>
</body>
</html>